target
*.log
*.log.*
./taret
./target
./target/classes
target/**
*.settings
.metadata
build.sh
.springBeans
nbactions.xml
.classpath
.project
.mtj
.idea
.swp
*.iml
*.ipr
*.ids
*.iws
overlays/
./gidsp/atlassian-ide-plugin.xml
./atlassian-ide-plugin.xml
./.git
./.gitattributes
./.gitignore
./.travis.yml
.DS_Store
gidsp/projectFilesBackup
coverage
node_modules
**/rebel.xml
./build
./gradle
/build
.build.gradle
build/
.gradle/
./src/main/AndroidManifest.xml
